extends layout

block content
  h1= title
  p Please leave #{title}
  button(type="button", class="btn btn-secodnary" onclick="moreClaps()") Press Me
  div(id="target") Clap for me 
    //-var clap_count = 0
    //-var clap_count +=2 
    //-{document.getElementById("target").source = clap_count}
      

